/* [project]/components/Welcome/Welcome.module.css [app-client] (css) */
.Welcome-module__NWZgAa__title {
  color: var(--mantine-color-black);
}

[data-mantine-color-scheme="dark"] .Welcome-module__NWZgAa__title {
  color: var(--mantine-color-white);
}

.Welcome-module__NWZgAa__title {
  font-size: calc(6.25rem * var(--mantine-scale));
  font-weight: 900;
  letter-spacing: calc(-.125rem * var(--mantine-scale));
}

@media (width <= 62em) {
  .Welcome-module__NWZgAa__title {
    font-size: calc(3.125rem * var(--mantine-scale));
  }
}


/* [project]/components/HeaderMegaMenu.module.css [app-client] (css) */
.HeaderMegaMenu-module__IIcU6G__header {
  height: 60px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

[data-mantine-color-scheme="dark"] .HeaderMegaMenu-module__IIcU6G__header {
  border-bottom: 1px solid var(--mantine-color-dark-4);
}

.HeaderMegaMenu-module__IIcU6G__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: var(--mantine-color-black);
}

[data-mantine-color-scheme="dark"] .HeaderMegaMenu-module__IIcU6G__link {
  color: var(--mantine-color-white);
}

.HeaderMegaMenu-module__IIcU6G__link {
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
}

@media (width <= 48em) {
  .HeaderMegaMenu-module__IIcU6G__link {
    height: 42px;
    width: 100%;
  }
}

@media (hover: hover) {
  .HeaderMegaMenu-module__IIcU6G__link:hover {
    background-color: var(--mantine-color-gray-0);
  }

  [data-mantine-color-scheme="dark"] .HeaderMegaMenu-module__IIcU6G__link:hover {
    background-color: var(--mantine-color-dark-6);
  }
}

@media (hover: none) {
  .HeaderMegaMenu-module__IIcU6G__link:active {
    background-color: var(--mantine-color-gray-0);
  }

  [data-mantine-color-scheme="dark"] .HeaderMegaMenu-module__IIcU6G__link:active {
    background-color: var(--mantine-color-dark-6);
  }
}

.HeaderMegaMenu-module__IIcU6G__subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
}

@media (hover: hover) {
  .HeaderMegaMenu-module__IIcU6G__subLink:hover {
    background-color: var(--mantine-color-gray-0);
  }

  [data-mantine-color-scheme="dark"] .HeaderMegaMenu-module__IIcU6G__subLink:hover {
    background-color: var(--mantine-color-dark-7);
  }
}

@media (hover: none) {
  .HeaderMegaMenu-module__IIcU6G__subLink:active {
    background-color: var(--mantine-color-gray-0);
  }

  [data-mantine-color-scheme="dark"] .HeaderMegaMenu-module__IIcU6G__subLink:active {
    background-color: var(--mantine-color-dark-7);
  }
}

.HeaderMegaMenu-module__IIcU6G__dropdownFooter {
  background-color: var(--mantine-color-gray-0);
}

[data-mantine-color-scheme="dark"] .HeaderMegaMenu-module__IIcU6G__dropdownFooter {
  background-color: var(--mantine-color-dark-7);
}

.HeaderMegaMenu-module__IIcU6G__dropdownFooter {
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid var(--mantine-color-gray-1);
}

[data-mantine-color-scheme="dark"] .HeaderMegaMenu-module__IIcU6G__dropdownFooter {
  border-top: 1px solid var(--mantine-color-dark-5);
}


/*# sourceMappingURL=components_b1ce3e._.css.map*/
