.image {
    display: flex;
    align-items: center;
    width: 3vw;
    height: 5vh;
  
    @media (max-width: $mantine-breakpoint-sm) {
      height: 42px;
      width: 100%;
    }
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }